openapi: 3.2.0
info:
  title: Pydantic Logfire SCIM API
  summary: Public API to access Logfire resources
  description: 'To be able to use the Logfire API, you need to either create an

    [OAuth App](https://logfire.pydantic.dev/-/redirect/default-org/settings/developer/oauth-apps) or a

    [Personal Access Token](https://logfire.pydantic.dev/-/redirect/default-org/settings/developer/pat).

    '
  termsOfService: https://pydantic.dev/legal/terms-of-service
  version: 0.1.0
servers:
- url: https://logfire-us.pydantic.dev/api
  description: Pydantic Logfire API (US)
- url: https://logfire-eu.pydantic.dev/api
  description: Pydantic Logfire API (EU)
tags:
- name: SCIM
paths:
  /scim/Users:
    get:
      tags:
      - SCIM
      summary: Get Users On Prem
      operationId: get_users_on_prem_scim_Users_get
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:scim
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Filter
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scim/Users/{user_email}:
    get:
      tags:
      - SCIM
      summary: Get User On Prem
      operationId: get_user_on_prem_scim_Users__user_email__get
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:scim
      parameters:
      - name: user_email
        in: path
        required: true
        schema:
          type: string
          title: User Email
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResourceRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scim/Groups:
    get:
      tags:
      - SCIM
      summary: Get Groups On Prem
      operationId: get_groups_on_prem_scim_Groups_get
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:scim
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Filter
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scim/Groups/{group_id}:
    get:
      tags:
      - SCIM
      summary: Get Group On Prem
      operationId: get_group_on_prem_scim_Groups__group_id__get
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:scim
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          title: Group Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResourceRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - SCIM
      summary: Update Group On Prem
      operationId: update_group_on_prem_scim_Groups__group_id__patch
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:scim
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          title: Group Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdate'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scim/{provider_name}/Users:
    get:
      tags:
      - SCIM
      summary: Get Users Cloud
      operationId: get_users_cloud_scim__provider_name__Users_get
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:scim
      parameters:
      - name: provider_name
        in: path
        required: true
        schema:
          type: string
          title: Provider Name
      - name: filter
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Filter
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scim/{provider_name}/Users/{user_email}:
    get:
      tags:
      - SCIM
      summary: Get User Cloud
      operationId: get_user_cloud_scim__provider_name__Users__user_email__get
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:scim
      parameters:
      - name: user_email
        in: path
        required: true
        schema:
          type: string
          title: User Email
      - name: provider_name
        in: path
        required: true
        schema:
          type: string
          title: Provider Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResourceRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scim/{provider_name}/Groups:
    get:
      tags:
      - SCIM
      summary: Get Groups Cloud
      operationId: get_groups_cloud_scim__provider_name__Groups_get
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:scim
      parameters:
      - name: provider_name
        in: path
        required: true
        schema:
          type: string
          title: Provider Name
      - name: filter
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Filter
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /scim/{provider_name}/Groups/{group_id}:
    get:
      tags:
      - SCIM
      summary: Get Group Cloud
      operationId: get_group_cloud_scim__provider_name__Groups__group_id__get
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:scim
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          title: Group Id
      - name: provider_name
        in: path
        required: true
        schema:
          type: string
          title: Provider Name
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResourceRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    patch:
      tags:
      - SCIM
      summary: Update Group Cloud
      operationId: update_group_cloud_scim__provider_name__Groups__group_id__patch
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:scim
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
          title: Group Id
      - name: provider_name
        in: path
        required: true
        schema:
          type: string
          title: Provider Name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdate'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    UserResourceRead:
      properties:
        schemas:
          items:
            type: string
          type: array
          title: Schemas
        id:
          type: string
          title: Id
        meta:
          $ref: '#/components/schemas/ResourceMetaRead'
        userName:
          type: string
          title: Username
        name:
          $ref: '#/components/schemas/UserReasourceNameRead'
        active:
          type: boolean
          title: Active
        emails:
          items:
            $ref: '#/components/schemas/UserResourceEmailRead'
          type: array
          title: Emails
      type: object
      required:
      - schemas
      - id
      - meta
      - userName
      - name
      - active
      - emails
      title: UserResourceRead
    ListResponse:
      properties:
        schemas:
          items:
            type: string
          type: array
          title: Schemas
        totalResults:
          type: integer
          title: Totalresults
        Resources:
          anyOf:
          - items:
              $ref: '#/components/schemas/UserResourceRead'
            type: array
          - items:
              $ref: '#/components/schemas/GroupResourceRead'
            type: array
          title: Resources
        startIndex:
          type: integer
          title: Startindex
        itemsPerPage:
          type: integer
          title: Itemsperpage
      type: object
      required:
      - schemas
      - totalResults
      - Resources
      - startIndex
      - itemsPerPage
      title: ListResponse
    GroupUpdateOperationValue:
      properties:
        value:
          type: string
          title: Value
        display:
          type: string
          title: Display
      type: object
      required:
      - value
      title: GroupUpdateOperationValue
    GroupUpdateOperation:
      properties:
        op:
          type: string
          title: Op
        path:
          type: string
          title: Path
        value:
          anyOf:
          - items:
              $ref: '#/components/schemas/GroupUpdateOperationValue'
            type: array
          - type: string
          title: Value
      type: object
      required:
      - op
      - path
      - value
      title: GroupUpdateOperation
    ResourceMetaRead:
      properties:
        resourceType:
          type: string
          title: Resourcetype
      type: object
      required:
      - resourceType
      title: ResourceMetaRead
    GroupResourceRead:
      properties:
        schemas:
          items:
            type: string
          type: array
          title: Schemas
        id:
          type: string
          title: Id
        meta:
          $ref: '#/components/schemas/ResourceMetaRead'
        displayName:
          type: string
          title: Displayname
      type: object
      required:
      - schemas
      - id
      - meta
      - displayName
      title: GroupResourceRead
    UserResourceEmailRead:
      properties:
        value:
          type: string
          title: Value
        type:
          type: string
          title: Type
        primary:
          type: boolean
          title: Primary
      type: object
      required:
      - value
      - type
      - primary
      title: UserResourceEmailRead
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    UserReasourceNameRead:
      properties:
        givenName:
          type: string
          title: Givenname
      type: object
      required:
      - givenName
      title: UserReasourceNameRead
    GroupUpdate:
      properties:
        schemas:
          items:
            type: string
          type: array
          title: Schemas
        Operations:
          items:
            $ref: '#/components/schemas/GroupUpdateOperation'
          type: array
          title: Operations
      type: object
      required:
      - schemas
      - Operations
      title: GroupUpdate
  securitySchemes:
    OAuth2AuthorizationCodeBearer:
      type: oauth2
      flows:
        authorizationCode:
          refreshUrl: /api/oauth/token
          scopes:
            instance:admin: Platform admin access to manage the whole self-hosted instance
            instance:billing: Read billing and usage data across the whole self-hosted instance
            organization:admin: Platform admin access to manage organizations across the instance (self-hosted only)
            organization:read: Read access to organizations
            organization:write: Write access to organizations
            organization:create_project: Ability to create projects within the organization
            organization:read_member: Read organization members and roles
            organization:write_member: Modify organization member roles and membership
            organization:read_channel: Read notification channels across the organization
            organization:write_channel: Create or modify notification channels across the organization
            organization:create_api_key: Create new API keys for the organization
            organization:read_api_key: Read API keys across the organization
            organization:write_api_key: Edit or revoke existing API keys across the organization
            organization:read_invitation: Read organization invitations
            organization:write_invitation: Create organization invitations
            project:read: Read access to projects
            project:write: Write access to projects
            project:write_token: Create write tokens
            project:read_token: Create read tokens
            project:read_dashboard: Read dashboards within a project
            project:write_dashboard: Create or modify dashboards within a project
            project:read_alert: Read alerts within a project
            project:write_alert: Create or modify alerts within a project
            project:read_datasets: Read datasets within a project
            project:write_datasets: Create or modify datasets within a project
            project:read_variables: Read managed variables and prompts within a project
            project:write_variables: Create or modify managed variables and prompts within a project
            project:read_external_variables: Read external managed variables within a project via OFREP
            project:gateway_proxy: Proxy AI model requests through the project AI Gateway
            project:read_otlp: Query trace data submitted to the project via OTLP
            project:write_otlp: Send OTLP traces, logs, and metrics to the project
            project:read_api_key: Read API keys within a project
            project:write_api_key: Create, edit, or revoke API keys within a project
            organization:scim: SCIM access to organizations
            organization:auditlog: Read audit logs for the organization
            organization:payment: Read billing usage data for the organization
            organization:read_trust_policy: Read OIDC trust policies and their token exchange history
            organization:write_trust_policy: Create, modify, or delete OIDC trust policies and revoke issued workload tokens
          authorizationUrl: api/oauth/authorize
          tokenUrl: /api/oauth/token
