openapi: 3.2.0
info:
  title: Pydantic Logfire Billing API
  summary: Public API to access Logfire resources
  description: 'To be able to use the Logfire API, you need to either create an

    [OAuth App](https://logfire.pydantic.dev/-/redirect/default-org/settings/developer/oauth-apps) or a

    [Personal Access Token](https://logfire.pydantic.dev/-/redirect/default-org/settings/developer/pat).

    '
  termsOfService: https://pydantic.dev/legal/terms-of-service
  version: 0.1.0
servers:
- url: https://logfire-us.pydantic.dev/api
  description: Pydantic Logfire API (US)
- url: https://logfire-eu.pydantic.dev/api
  description: Pydantic Logfire API (EU)
tags:
- name: Billing
paths:
  /v1/billing/usage/:
    get:
      tags:
      - Billing
      summary: Get Billing Usage
      description: 'Get billing usage data for the current or a previous billing period.


        Use periodOffset=0 for the current period, -1 for the previous, -2 for two periods ago.


        Returns usage totals, per-project breakdown, and cost calculations

        for enterprise cloud organizations.'
      operationId: get_billing_usage_v1_billing_usage__get
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:payment
      parameters:
      - name: periodOffset
        in: query
        required: false
        schema:
          type: integer
          maximum: 0
          minimum: -2
          default: 0
          title: Periodoffset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingUsageResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    BillingUsageResponse:
      properties:
        organization:
          type: string
          title: Organization
        billing_period:
          $ref: '#/components/schemas/BillingPeriod'
        plan:
          type: string
          title: Plan
        usage:
          $ref: '#/components/schemas/UsageSummary'
        cost:
          $ref: '#/components/schemas/CostSummary'
      type: object
      required:
      - organization
      - billing_period
      - plan
      - usage
      - cost
      title: BillingUsageResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ProjectUsage:
      properties:
        project_name:
          type: string
          title: Project Name
        project_id:
          type: string
          format: uuid
          title: Project Id
        observations:
          type: integer
          title: Observations
      type: object
      required:
      - project_name
      - project_id
      - observations
      title: ProjectUsage
    CostSummary:
      properties:
        currency:
          type: string
          title: Currency
        price_per_million_observations:
          type: number
          title: Price Per Million Observations
        included_observations_value:
          type: number
          title: Included Observations Value
        usage_cost:
          type: number
          title: Usage Cost
        discount:
          type: number
          title: Discount
        total_cost:
          type: number
          title: Total Cost
      type: object
      required:
      - currency
      - price_per_million_observations
      - included_observations_value
      - usage_cost
      - discount
      - total_cost
      title: CostSummary
    BillingPeriod:
      properties:
        start:
          type: string
          format: date
          title: Start
        end:
          type: string
          format: date
          title: End
        anchor_day:
          type: integer
          title: Anchor Day
      type: object
      required:
      - start
      - end
      - anchor_day
      title: BillingPeriod
    UsageBreakdown:
      properties:
        spans:
          type: integer
          title: Spans
        metrics:
          type: integer
          title: Metrics
      type: object
      required:
      - spans
      - metrics
      title: UsageBreakdown
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    UsageSummary:
      properties:
        total_observations:
          type: integer
          title: Total Observations
        breakdown:
          $ref: '#/components/schemas/UsageBreakdown'
        included_observations:
          type: integer
          title: Included Observations
        billable_observations:
          type: integer
          title: Billable Observations
        project_breakdown:
          items:
            $ref: '#/components/schemas/ProjectUsage'
          type: array
          title: Project Breakdown
      type: object
      required:
      - total_observations
      - breakdown
      - included_observations
      - billable_observations
      - project_breakdown
      title: UsageSummary
    HTTPExceptionError:
      properties:
        detail:
          type: string
          title: Detail
      type: object
      required:
      - detail
      title: HTTPExceptionError
  securitySchemes:
    OAuth2AuthorizationCodeBearer:
      type: oauth2
      flows:
        authorizationCode:
          refreshUrl: /api/oauth/token
          scopes:
            instance:admin: Platform admin access to manage the whole self-hosted instance
            instance:billing: Read billing and usage data across the whole self-hosted instance
            organization:admin: Platform admin access to manage organizations across the instance (self-hosted only)
            organization:read: Read access to organizations
            organization:write: Write access to organizations
            organization:create_project: Ability to create projects within the organization
            organization:read_member: Read organization members and roles
            organization:write_member: Modify organization member roles and membership
            organization:read_channel: Read notification channels across the organization
            organization:write_channel: Create or modify notification channels across the organization
            organization:create_api_key: Create new API keys for the organization
            organization:read_api_key: Read API keys across the organization
            organization:write_api_key: Edit or revoke existing API keys across the organization
            organization:read_invitation: Read organization invitations
            organization:write_invitation: Create organization invitations
            project:read: Read access to projects
            project:write: Write access to projects
            project:write_token: Create write tokens
            project:read_token: Create read tokens
            project:read_dashboard: Read dashboards within a project
            project:write_dashboard: Create or modify dashboards within a project
            project:read_alert: Read alerts within a project
            project:write_alert: Create or modify alerts within a project
            project:read_datasets: Read datasets within a project
            project:write_datasets: Create or modify datasets within a project
            project:read_variables: Read managed variables and prompts within a project
            project:write_variables: Create or modify managed variables and prompts within a project
            project:read_external_variables: Read external managed variables within a project via OFREP
            project:gateway_proxy: Proxy AI model requests through the project AI Gateway
            project:read_otlp: Query trace data submitted to the project via OTLP
            project:write_otlp: Send OTLP traces, logs, and metrics to the project
            project:read_api_key: Read API keys within a project
            project:write_api_key: Create, edit, or revoke API keys within a project
            organization:scim: SCIM access to organizations
            organization:auditlog: Read audit logs for the organization
            organization:payment: Read billing usage data for the organization
            organization:read_trust_policy: Read OIDC trust policies and their token exchange history
            organization:write_trust_policy: Create, modify, or delete OIDC trust policies and revoke issued workload tokens
          authorizationUrl: api/oauth/authorize
          tokenUrl: /api/oauth/token
