openapi: 3.2.0
info:
  title: Pydantic Logfire Dashboards API
  summary: Public API to access Logfire resources
  description: 'To be able to use the Logfire API, you need to either create an

    [OAuth App](https://logfire.pydantic.dev/-/redirect/default-org/settings/developer/oauth-apps) or a

    [Personal Access Token](https://logfire.pydantic.dev/-/redirect/default-org/settings/developer/pat).

    '
  termsOfService: https://pydantic.dev/legal/terms-of-service
  version: 0.1.0
servers:
- url: https://logfire-us.pydantic.dev/api
  description: Pydantic Logfire API (US)
- url: https://logfire-eu.pydantic.dev/api
  description: Pydantic Logfire API (EU)
tags:
- name: Dashboards
paths:
  /v1/projects/{project_id}/dashboards/:
    get:
      tags:
      - Dashboards
      summary: List Dashboards
      operationId: list_dashboards_v1_projects__project_id__dashboards__get
      security:
      - OAuth2AuthorizationCodeBearer:
        - project:read_dashboard
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DashboardSummary'
                title: Response List Dashboards V1 Projects  Project Id  Dashboards  Get
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Dashboards
      summary: Create Dashboard
      operationId: create_dashboard_v1_projects__project_id__dashboards__post
      security:
      - OAuth2AuthorizationCodeBearer:
        - project:write_dashboard
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '409':
          description: Dashboard with this slug already exists
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/{project_id}/dashboards/{dashboard_id}/:
    get:
      tags:
      - Dashboards
      summary: Get Dashboard
      operationId: get_dashboard_v1_projects__project_id__dashboards__dashboard_id___get
      security:
      - OAuth2AuthorizationCodeBearer:
        - project:read_dashboard
      parameters:
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Dashboard Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Project Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDashboardResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Dashboards
      summary: Update Dashboard
      operationId: update_dashboard_v1_projects__project_id__dashboards__dashboard_id___put
      security:
      - OAuth2AuthorizationCodeBearer:
        - project:write_dashboard
      parameters:
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Dashboard Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Project Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardUpdateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '409':
          description: Dashboard version conflict
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Dashboards
      summary: Delete Dashboard
      operationId: delete_dashboard_v1_projects__project_id__dashboards__dashboard_id___delete
      security:
      - OAuth2AuthorizationCodeBearer:
        - project:write_dashboard
      parameters:
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Dashboard Id
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Project Id
      responses:
        '204':
          description: Successful Response
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    DashboardCreate:
      properties:
        kind:
          type: string
          enum:
          - Dashboard
          title: Kind
        metadata:
          $ref: '#/components/schemas/DashboardMetadataCreate'
        spec:
          $ref: '#/components/schemas/DashboardCreateSpec'
      type: object
      required:
      - kind
      - metadata
      - spec
      title: DashboardCreate
    DashboardVariable-Output:
      oneOf:
      - $ref: '#/components/schemas/DashboardTextVariable-Output'
      - $ref: '#/components/schemas/DashboardListVariable-Output'
      discriminator:
        propertyName: kind
        mapping:
          ListVariable: '#/components/schemas/DashboardListVariable-Output'
          TextVariable: '#/components/schemas/DashboardTextVariable-Output'
    DashboardDatasourceSpec:
      properties:
        display:
          anyOf:
          - $ref: '#/components/schemas/DashboardDisplay'
          - type: 'null'
        default:
          type: boolean
          title: Default
          default: false
        plugin:
          $ref: '#/components/schemas/DashboardPlugin'
      type: object
      required:
      - display
      - plugin
      title: DashboardDatasourceSpec
    DashboardGridSpec-Output:
      properties:
        display:
          $ref: '#/components/schemas/DashboardGridDisplay'
        items:
          items:
            $ref: '#/components/schemas/DashboardGridItem'
          type: array
          title: Items
      type: object
      required:
      - items
      title: DashboardGridSpec
    DashboardPanel-Input:
      properties:
        kind:
          type: string
          enum:
          - Panel
          title: Kind
        spec:
          $ref: '#/components/schemas/DashboardPanelSpec-Input'
      type: object
      required:
      - kind
      - spec
      title: DashboardPanel
    DashboardDefinitionRead:
      properties:
        kind:
          type: string
          enum:
          - Dashboard
          title: Kind
        metadata:
          $ref: '#/components/schemas/DashboardProjectMetadataRead'
        spec:
          $ref: '#/components/schemas/DashboardSpec'
      type: object
      required:
      - kind
      - metadata
      - spec
      title: DashboardDefinitionRead
    HTTPExceptionError:
      properties:
        detail:
          type: string
          title: Detail
      type: object
      required:
      - detail
      title: HTTPExceptionError
    DashboardDisplay:
      properties:
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
      type: object
      required:
      - name
      title: DashboardDisplay
    DashboardUpdateRequest:
      properties:
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        definition:
          anyOf:
          - $ref: '#/components/schemas/DashboardCreate'
          - type: 'null'
        version:
          anyOf:
          - type: integer
          - type: 'null'
          title: Version
      type: object
      title: DashboardUpdateRequest
    Dashboard:
      properties:
        id:
          type: string
          format: uuid
          title: Id
        project_id:
          type: string
          format: uuid
          title: Project Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Updated At
        created_by_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Created By Name
        updated_by_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Updated By Name
        dashboard_name:
          type: string
          title: Dashboard Name
        dashboard_slug:
          type: string
          title: Dashboard Slug
        version:
          type: integer
          title: Version
        definition:
          $ref: '#/components/schemas/DashboardDefinitionRead'
      type: object
      required:
      - id
      - project_id
      - created_at
      - updated_at
      - created_by_name
      - updated_by_name
      - dashboard_name
      - dashboard_slug
      - version
      - definition
      title: Dashboard
    DashboardGridDisplay:
      properties:
        title:
          type: string
          title: Title
        collapse:
          $ref: '#/components/schemas/DashboardCollapse'
      type: object
      title: DashboardGridDisplay
    DashboardLayout-Input:
      properties:
        kind:
          type: string
          enum:
          - Grid
          title: Kind
        spec:
          $ref: '#/components/schemas/DashboardGridSpec-Input'
      type: object
      required:
      - kind
      - spec
      title: DashboardLayout
    DashboardVariable-Input:
      oneOf:
      - $ref: '#/components/schemas/DashboardTextVariable-Input'
      - $ref: '#/components/schemas/DashboardListVariable-Input'
      discriminator:
        propertyName: kind
        mapping:
          ListVariable: '#/components/schemas/DashboardListVariable-Input'
          TextVariable: '#/components/schemas/DashboardTextVariable-Input'
    DashboardSpec:
      properties:
        display:
          anyOf:
          - $ref: '#/components/schemas/DashboardDisplay'
          - type: 'null'
        datasources:
          additionalProperties:
            $ref: '#/components/schemas/DashboardDatasourceSpec'
          type: object
          title: Datasources
        variables:
          items:
            $ref: '#/components/schemas/DashboardVariable-Output'
          type: array
          title: Variables
        panels:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/DashboardPanel-Output'
            type: object
          - type: 'null'
          title: Panels
        layouts:
          items:
            $ref: '#/components/schemas/DashboardLayout-Output'
          type: array
          title: Layouts
        duration:
          anyOf:
          - type: string
            pattern: ^((([0-9]+)y)?(([0-9]+)w)?(([0-9]+)d)?(([0-9]+)h)?(([0-9]+)m)?(([0-9]+)s)?(([0-9]+)ms)?|0)$
          - type: 'null'
          title: Duration
          default: 1h
        refreshInterval:
          type: string
          pattern: ^((([0-9]+)y)?(([0-9]+)w)?(([0-9]+)d)?(([0-9]+)h)?(([0-9]+)m)?(([0-9]+)s)?(([0-9]+)ms)?|0)$
          title: Refreshinterval
          default: 0s
      type: object
      required:
      - display
      - variables
      - panels
      - layouts
      title: DashboardSpec
    DashboardListVariable-Input:
      properties:
        kind:
          type: string
          enum:
          - ListVariable
          title: Kind
        spec:
          $ref: '#/components/schemas/DashboardListVariableSpec'
      type: object
      required:
      - kind
      - spec
      title: DashboardListVariable
    DashboardPanel-Output:
      properties:
        kind:
          type: string
          enum:
          - Panel
          title: Kind
        spec:
          $ref: '#/components/schemas/DashboardPanelSpec-Output'
      type: object
      required:
      - kind
      - spec
      title: DashboardPanel
    PanelRef:
      properties:
        $ref:
          type: string
      type: object
      required:
      - $ref
      title: PanelRef
    DashboardPanelDisplay:
      properties:
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
      type: object
      required:
      - name
      title: DashboardPanelDisplay
    GetDashboardResponse:
      properties:
        dashboard:
          $ref: '#/components/schemas/DashboardDefinitionRead'
      type: object
      required:
      - dashboard
      title: GetDashboardResponse
    DashboardProjectMetadataRead:
      properties:
        name:
          type: string
          title: Name
        createdAt:
          type: string
          format: date-time
          title: Createdat
        updatedAt:
          type: string
          format: date-time
          title: Updatedat
        version:
          type: integer
          title: Version
        project:
          type: string
          title: Project
      type: object
      required:
      - name
      - project
      title: DashboardProjectMetadataRead
    DashboardPlugin:
      properties:
        kind:
          type: string
          minLength: 1
          title: Kind
        spec:
          title: Spec
      type: object
      required:
      - kind
      - spec
      title: DashboardPlugin
    DashboardPanelLink:
      properties:
        name:
          type: string
          title: Name
        url:
          type: string
          title: Url
        tooltip:
          type: string
          title: Tooltip
        renderVariables:
          type: boolean
          title: Rendervariables
        targetBlank:
          type: boolean
          title: Targetblank
      type: object
      title: DashboardPanelLink
    DashboardListVariable-Output:
      properties:
        kind:
          type: string
          enum:
          - ListVariable
          title: Kind
        spec:
          $ref: '#/components/schemas/DashboardListVariableSpec'
      type: object
      required:
      - kind
      - spec
      title: DashboardListVariable
    DashboardLayout-Output:
      properties:
        kind:
          type: string
          enum:
          - Grid
          title: Kind
        spec:
          $ref: '#/components/schemas/DashboardGridSpec-Output'
      type: object
      required:
      - kind
      - spec
      title: DashboardLayout
    DashboardMetadataCreate:
      properties:
        name:
          type: string
          title: Name
        project:
          type: string
          title: Project
      type: object
      required:
      - name
      - project
      title: DashboardMetadataCreate
    DashboardCreateRequest:
      properties:
        name:
          type: string
          title: Name
        slug:
          type: string
          title: Slug
        definition:
          $ref: '#/components/schemas/DashboardCreate'
      type: object
      required:
      - name
      - slug
      - definition
      title: DashboardCreateRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    DashboardGridItem:
      properties:
        x:
          type: integer
          title: X
        y:
          type: integer
          title: Y
        width:
          type: integer
          title: Width
        height:
          type: integer
          title: Height
        content:
          $ref: '#/components/schemas/PanelRef'
      type: object
      required:
      - x
      - y
      - width
      - height
      - content
      title: DashboardGridItem
    DashboardQuery:
      properties:
        kind:
          type: string
          title: Kind
        spec:
          title: Spec
      type: object
      required:
      - kind
      - spec
      title: DashboardQuery
    DashboardCreateSpec:
      properties:
        display:
          anyOf:
          - $ref: '#/components/schemas/DashboardDisplay'
          - type: 'null'
        datasources:
          additionalProperties:
            $ref: '#/components/schemas/DashboardDatasourceSpec'
          type: object
          title: Datasources
        variables:
          items:
            $ref: '#/components/schemas/DashboardVariable-Input'
          type: array
          title: Variables
        panels:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/DashboardPanel-Input'
            type: object
          - type: 'null'
          title: Panels
        layouts:
          items:
            $ref: '#/components/schemas/DashboardLayout-Input'
          type: array
          title: Layouts
        duration:
          anyOf:
          - type: string
            pattern: ^((([0-9]+)y)?(([0-9]+)w)?(([0-9]+)d)?(([0-9]+)h)?(([0-9]+)m)?(([0-9]+)s)?(([0-9]+)ms)?|0)$
          - type: 'null'
          title: Duration
          default: 1h
        refreshInterval:
          type: string
          pattern: ^((([0-9]+)y)?(([0-9]+)w)?(([0-9]+)d)?(([0-9]+)h)?(([0-9]+)m)?(([0-9]+)s)?(([0-9]+)ms)?|0)$
          title: Refreshinterval
          default: 0s
      type: object
      required:
      - display
      - panels
      - layouts
      title: DashboardCreateSpec
    DashboardPanelSpec-Output:
      properties:
        display:
          $ref: '#/components/schemas/DashboardPanelDisplay'
        plugin:
          $ref: '#/components/schemas/DashboardPlugin'
        queries:
          items:
            $ref: '#/components/schemas/DashboardQuery'
          type: array
          title: Queries
        links:
          items:
            $ref: '#/components/schemas/DashboardPanelLink'
          type: array
          title: Links
        variables:
          items:
            $ref: '#/components/schemas/DashboardVariable-Output'
          type: array
          title: Variables
      type: object
      required:
      - display
      - plugin
      title: DashboardPanelSpec
    DashboardCollapse:
      properties:
        open:
          type: boolean
          title: Open
      type: object
      required:
      - open
      title: DashboardCollapse
    DashboardPanelSpec-Input:
      properties:
        display:
          $ref: '#/components/schemas/DashboardPanelDisplay'
        plugin:
          $ref: '#/components/schemas/DashboardPlugin'
        queries:
          items:
            $ref: '#/components/schemas/DashboardQuery'
          type: array
          title: Queries
        links:
          items:
            $ref: '#/components/schemas/DashboardPanelLink'
          type: array
          title: Links
        variables:
          items:
            $ref: '#/components/schemas/DashboardVariable-Input'
          type: array
          title: Variables
      type: object
      required:
      - display
      - plugin
      title: DashboardPanelSpec
    DashboardVariableDisplay:
      properties:
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        hidden:
          type: boolean
          title: Hidden
      type: object
      title: DashboardVariableDisplay
    DashboardTextVariable-Input:
      properties:
        kind:
          type: string
          enum:
          - TextVariable
          title: Kind
        spec:
          $ref: '#/components/schemas/DashboardTextVariableSpec'
      type: object
      required:
      - kind
      - spec
      title: DashboardTextVariable
    DashboardListVariableSpec:
      properties:
        name:
          type: string
          title: Name
        display:
          $ref: '#/components/schemas/DashboardVariableDisplay'
        defaultValue:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          - type: 'null'
          title: Defaultvalue
        allowMultiple:
          type: boolean
          title: Allowmultiple
        allowAllValue:
          type: boolean
          title: Allowallvalue
        customAllValue:
          type: string
          title: Customallvalue
        capturingRegexp:
          type: string
          title: Capturingregexp
        sort:
          type: string
          title: Sort
        plugin:
          $ref: '#/components/schemas/DashboardPlugin'
      type: object
      required:
      - name
      - allowMultiple
      - allowAllValue
      - plugin
      title: DashboardListVariableSpec
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    DashboardSummary:
      properties:
        id:
          type: string
          format: uuid
          title: Id
        project_id:
          type: string
          format: uuid
          title: Project Id
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Updated At
        created_by_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Created By Name
        updated_by_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Updated By Name
        dashboard_name:
          type: string
          title: Dashboard Name
        dashboard_slug:
          type: string
          title: Dashboard Slug
        version:
          type: integer
          title: Version
      type: object
      required:
      - id
      - project_id
      - created_at
      - updated_at
      - created_by_name
      - updated_by_name
      - dashboard_name
      - dashboard_slug
      - version
      title: DashboardSummary
    DashboardTextVariableSpec:
      properties:
        name:
          type: string
          title: Name
        display:
          $ref: '#/components/schemas/DashboardVariableDisplay'
        value:
          type: string
          title: Value
        constant:
          type: boolean
          title: Constant
      type: object
      required:
      - name
      - value
      title: DashboardTextVariableSpec
    DashboardGridSpec-Input:
      properties:
        display:
          $ref: '#/components/schemas/DashboardGridDisplay'
        items:
          items:
            $ref: '#/components/schemas/DashboardGridItem'
          type: array
          title: Items
      type: object
      required:
      - items
      title: DashboardGridSpec
    DashboardTextVariable-Output:
      properties:
        kind:
          type: string
          enum:
          - TextVariable
          title: Kind
        spec:
          $ref: '#/components/schemas/DashboardTextVariableSpec'
      type: object
      required:
      - kind
      - spec
      title: DashboardTextVariable
  securitySchemes:
    OAuth2AuthorizationCodeBearer:
      type: oauth2
      flows:
        authorizationCode:
          refreshUrl: /api/oauth/token
          scopes:
            instance:admin: Platform admin access to manage the whole self-hosted instance
            instance:billing: Read billing and usage data across the whole self-hosted instance
            organization:admin: Platform admin access to manage organizations across the instance (self-hosted only)
            organization:read: Read access to organizations
            organization:write: Write access to organizations
            organization:create_project: Ability to create projects within the organization
            organization:read_member: Read organization members and roles
            organization:write_member: Modify organization member roles and membership
            organization:read_channel: Read notification channels across the organization
            organization:write_channel: Create or modify notification channels across the organization
            organization:create_api_key: Create new API keys for the organization
            organization:read_api_key: Read API keys across the organization
            organization:write_api_key: Edit or revoke existing API keys across the organization
            organization:read_invitation: Read organization invitations
            organization:write_invitation: Create organization invitations
            project:read: Read access to projects
            project:write: Write access to projects
            project:write_token: Create write tokens
            project:read_token: Create read tokens
            project:read_dashboard: Read dashboards within a project
            project:write_dashboard: Create or modify dashboards within a project
            project:read_alert: Read alerts within a project
            project:write_alert: Create or modify alerts within a project
            project:read_datasets: Read datasets within a project
            project:write_datasets: Create or modify datasets within a project
            project:read_variables: Read managed variables and prompts within a project
            project:write_variables: Create or modify managed variables and prompts within a project
            project:read_external_variables: Read external managed variables within a project via OFREP
            project:gateway_proxy: Proxy AI model requests through the project AI Gateway
            project:read_otlp: Query trace data submitted to the project via OTLP
            project:write_otlp: Send OTLP traces, logs, and metrics to the project
            project:read_api_key: Read API keys within a project
            project:write_api_key: Create, edit, or revoke API keys within a project
            organization:scim: SCIM access to organizations
            organization:auditlog: Read audit logs for the organization
            organization:payment: Read billing usage data for the organization
            organization:read_trust_policy: Read OIDC trust policies and their token exchange history
            organization:write_trust_policy: Create, modify, or delete OIDC trust policies and revoke issued workload tokens
          authorizationUrl: api/oauth/authorize
          tokenUrl: /api/oauth/token
