openapi: 3.2.0
info:
  title: Pydantic Logfire Group Mappings API
  summary: Public API to access Logfire resources
  description: 'To be able to use the Logfire API, you need to either create an

    [OAuth App](https://logfire.pydantic.dev/-/redirect/default-org/settings/developer/oauth-apps) or a

    [Personal Access Token](https://logfire.pydantic.dev/-/redirect/default-org/settings/developer/pat).

    '
  termsOfService: https://pydantic.dev/legal/terms-of-service
  version: 0.1.0
servers:
- url: https://logfire-us.pydantic.dev/api
  description: Pydantic Logfire API (US)
- url: https://logfire-eu.pydantic.dev/api
  description: Pydantic Logfire API (EU)
tags:
- name: Group Mappings
paths:
  /v1/group-mappings/:
    get:
      tags:
      - Group Mappings
      summary: Get Group Mappings
      description: Return the group-organization mapping currently stored in `platform_config` (self-hosted admin only).
      operationId: get_group_mappings_v1_group_mappings__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupOrganizationMappingRead'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
      security:
      - OAuth2AuthorizationCodeBearer:
        - instance:admin
    put:
      tags:
      - Group Mappings
      summary: Update Group Mappings
      description: 'Replace the group-organization mapping stored in `platform_config` (self-hosted admin only).


        Every `organization_name` and `project_name` in the payload must correspond to an existing

        record in the database; otherwise a 400 is returned.'
      operationId: update_group_mappings_v1_group_mappings__put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupOrganizationMappingUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupOrganizationMappingRead'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2AuthorizationCodeBearer:
        - instance:admin
  /v1/instance/group-mappings/:
    get:
      tags:
      - Group Mappings
      summary: Get Group Mappings
      description: Return the group-organization mapping currently stored in `platform_config` (self-hosted admin only).
      operationId: get_group_mappings_v1_instance_group_mappings__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupOrganizationMappingRead'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
      security:
      - OAuth2AuthorizationCodeBearer:
        - instance:admin
    put:
      tags:
      - Group Mappings
      summary: Update Group Mappings
      description: 'Replace the group-organization mapping stored in `platform_config` (self-hosted admin only).


        Every `organization_name` and `project_name` in the payload must correspond to an existing

        record in the database; otherwise a 400 is returned.'
      operationId: update_group_mappings_v1_instance_group_mappings__put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupOrganizationMappingUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupOrganizationMappingRead'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2AuthorizationCodeBearer:
        - instance:admin
components:
  schemas:
    ProjectRoleDefinition:
      properties:
        project_name:
          type: string
          title: Project Name
        role:
          type: string
          title: Role
      type: object
      required:
      - project_name
      - role
      title: ProjectRoleDefinition
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    OrganizationRoleDefinition:
      properties:
        organization_name:
          type: string
          title: Organization Name
        role:
          type: string
          title: Role
        project_roles:
          items:
            $ref: '#/components/schemas/ProjectRoleDefinition'
          type: array
          title: Project Roles
          default: []
      type: object
      required:
      - organization_name
      - role
      title: OrganizationRoleDefinition
    GroupOrganizationMapping-Input:
      properties:
        group_id:
          type: string
          title: Group Id
        organization_roles:
          items:
            $ref: '#/components/schemas/OrganizationRoleDefinition'
          type: array
          title: Organization Roles
      type: object
      required:
      - group_id
      - organization_roles
      title: GroupOrganizationMapping
    GroupOrganizationMappingRead:
      properties:
        group_organization_mapping:
          items:
            $ref: '#/components/schemas/GroupOrganizationMapping-Output'
          type: array
          title: Group Organization Mapping
      type: object
      required:
      - group_organization_mapping
      title: GroupOrganizationMappingRead
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    GroupOrganizationMappingUpdate:
      properties:
        group_organization_mapping:
          items:
            $ref: '#/components/schemas/GroupOrganizationMapping-Input'
          type: array
          title: Group Organization Mapping
      type: object
      required:
      - group_organization_mapping
      title: GroupOrganizationMappingUpdate
    GroupOrganizationMapping-Output:
      properties:
        group_id:
          type: string
          title: Group Id
        organization_roles:
          items:
            $ref: '#/components/schemas/OrganizationRoleDefinition'
          type: array
          title: Organization Roles
      type: object
      required:
      - group_id
      - organization_roles
      title: GroupOrganizationMapping
    HTTPExceptionError:
      properties:
        detail:
          type: string
          title: Detail
      type: object
      required:
      - detail
      title: HTTPExceptionError
  securitySchemes:
    OAuth2AuthorizationCodeBearer:
      type: oauth2
      flows:
        authorizationCode:
          refreshUrl: /api/oauth/token
          scopes:
            instance:admin: Platform admin access to manage the whole self-hosted instance
            instance:billing: Read billing and usage data across the whole self-hosted instance
            organization:admin: Platform admin access to manage organizations across the instance (self-hosted only)
            organization:read: Read access to organizations
            organization:write: Write access to organizations
            organization:create_project: Ability to create projects within the organization
            organization:read_member: Read organization members and roles
            organization:write_member: Modify organization member roles and membership
            organization:read_channel: Read notification channels across the organization
            organization:write_channel: Create or modify notification channels across the organization
            organization:create_api_key: Create new API keys for the organization
            organization:read_api_key: Read API keys across the organization
            organization:write_api_key: Edit or revoke existing API keys across the organization
            organization:read_invitation: Read organization invitations
            organization:write_invitation: Create organization invitations
            project:read: Read access to projects
            project:write: Write access to projects
            project:write_token: Create write tokens
            project:read_token: Create read tokens
            project:read_dashboard: Read dashboards within a project
            project:write_dashboard: Create or modify dashboards within a project
            project:read_alert: Read alerts within a project
            project:write_alert: Create or modify alerts within a project
            project:read_datasets: Read datasets within a project
            project:write_datasets: Create or modify datasets within a project
            project:read_variables: Read managed variables and prompts within a project
            project:write_variables: Create or modify managed variables and prompts within a project
            project:read_external_variables: Read external managed variables within a project via OFREP
            project:gateway_proxy: Proxy AI model requests through the project AI Gateway
            project:read_otlp: Query trace data submitted to the project via OTLP
            project:write_otlp: Send OTLP traces, logs, and metrics to the project
            project:read_api_key: Read API keys within a project
            project:write_api_key: Create, edit, or revoke API keys within a project
            organization:scim: SCIM access to organizations
            organization:auditlog: Read audit logs for the organization
            organization:payment: Read billing usage data for the organization
            organization:read_trust_policy: Read OIDC trust policies and their token exchange history
            organization:write_trust_policy: Create, modify, or delete OIDC trust policies and revoke issued workload tokens
          authorizationUrl: api/oauth/authorize
          tokenUrl: /api/oauth/token
