openapi: 3.2.0
info:
  title: Pydantic Logfire Audit Logs API
  summary: Public API to access Logfire resources
  description: 'To be able to use the Logfire API, you need to either create an

    [OAuth App](https://logfire.pydantic.dev/-/redirect/default-org/settings/developer/oauth-apps) or a

    [Personal Access Token](https://logfire.pydantic.dev/-/redirect/default-org/settings/developer/pat).

    '
  termsOfService: https://pydantic.dev/legal/terms-of-service
  version: 0.1.0
servers:
- url: https://logfire-us.pydantic.dev/api
  description: Pydantic Logfire API (US)
- url: https://logfire-eu.pydantic.dev/api
  description: Pydantic Logfire API (EU)
tags:
- name: Audit Logs
paths:
  /v1/audit-logs/:
    get:
      tags:
      - Audit Logs
      summary: List Audit Logs
      description: 'List audit logs for an organization.


        Requires an API key with the `organization:auditlog` scope.

        Only available for organizations with an enterprise_cloud subscription or self-hosted deployments.


        The time range cannot exceed 90 days.'
      operationId: list_audit_logs_v1_audit_logs__get
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:auditlog
      parameters:
      - name: start_time
        in: query
        required: true
        schema:
          type: string
          format: date-time
          description: Start time for audit logs
          title: Start Time
        description: Start time for audit logs
      - name: end_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: End time for audit logs
          title: End Time
        description: End time for audit logs
      - name: action
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - INSERT
            - UPDATE
            - DELETE
            - VIEW
            - LOGIN
            - FAILED_LOGIN
            - LOGOUT
            - CLAIM_INVITATION
            - REVOKE_INVITATION
            - VERIFY
            type: string
          - type: 'null'
          description: Filter by action type
          title: Action
        description: Filter by action type
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLogInfoRead'
                title: Response List Audit Logs V1 Audit Logs  Get
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/audit-logs/{audit_log_id}/:
    get:
      tags:
      - Audit Logs
      summary: Get Audit Log
      description: 'Get details for a specific audit log.


        Requires an API key with the `organization:auditlog` scope.

        Only available for organizations with an enterprise_cloud subscription or self-hosted deployments.'
      operationId: get_audit_log_v1_audit_logs__audit_log_id___get
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:auditlog
      parameters:
      - name: audit_log_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          description: Audit log ID
          title: Audit Log Id
        description: Audit log ID
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogDetailRead'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    AuditLogDetailRead:
      properties:
        id:
          type: string
          format: uuid
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        organization_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization Name
        project_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Project Name
        user_name:
          anyOf:
          - type: string
          - type: 'null'
          title: User Name
        action:
          type: string
          enum:
          - INSERT
          - UPDATE
          - DELETE
          - VIEW
          - LOGIN
          - FAILED_LOGIN
          - LOGOUT
          - CLAIM_INVITATION
          - REVOKE_INVITATION
          - VERIFY
          title: Action
        resource_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Resource Type
        record_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Record Id
        ip_address:
          anyOf:
          - type: string
            format: ipv4
          - type: string
            format: ipv6
          - type: 'null'
          title: Ip Address
        metadata:
          anyOf:
          - additionalProperties:
              $ref: '#/components/schemas/JSONBData'
            type: object
          - type: 'null'
          title: Metadata
      type: object
      required:
      - id
      - created_at
      - organization_name
      - project_name
      - user_name
      - action
      - resource_type
      - record_id
      - ip_address
      - metadata
      title: AuditLogDetailRead
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    AuditLogInfoRead:
      properties:
        id:
          type: string
          format: uuid
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        organization_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization Name
        project_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Project Name
        user_name:
          anyOf:
          - type: string
          - type: 'null'
          title: User Name
        action:
          type: string
          enum:
          - INSERT
          - UPDATE
          - DELETE
          - VIEW
          - LOGIN
          - FAILED_LOGIN
          - LOGOUT
          - CLAIM_INVITATION
          - REVOKE_INVITATION
          - VERIFY
          title: Action
        resource_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Resource Type
        record_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Record Id
        ip_address:
          anyOf:
          - type: string
            format: ipv4
          - type: string
            format: ipv6
          - type: 'null'
          title: Ip Address
      type: object
      required:
      - id
      - created_at
      - organization_name
      - project_name
      - user_name
      - action
      - resource_type
      - record_id
      - ip_address
      title: AuditLogInfoRead
    JSONBData:
      anyOf:
      - additionalProperties:
          $ref: '#/components/schemas/JSONBData'
        type: object
      - items:
          $ref: '#/components/schemas/JSONBData'
        type: array
      - type: string
      - type: integer
      - type: boolean
      - type: number
      - type: 'null'
    HTTPExceptionError:
      properties:
        detail:
          type: string
          title: Detail
      type: object
      required:
      - detail
      title: HTTPExceptionError
  securitySchemes:
    OAuth2AuthorizationCodeBearer:
      type: oauth2
      flows:
        authorizationCode:
          refreshUrl: /api/oauth/token
          scopes:
            instance:admin: Platform admin access to manage the whole self-hosted instance
            instance:billing: Read billing and usage data across the whole self-hosted instance
            organization:admin: Platform admin access to manage organizations across the instance (self-hosted only)
            organization:read: Read access to organizations
            organization:write: Write access to organizations
            organization:create_project: Ability to create projects within the organization
            organization:read_member: Read organization members and roles
            organization:write_member: Modify organization member roles and membership
            organization:read_channel: Read notification channels across the organization
            organization:write_channel: Create or modify notification channels across the organization
            organization:create_api_key: Create new API keys for the organization
            organization:read_api_key: Read API keys across the organization
            organization:write_api_key: Edit or revoke existing API keys across the organization
            organization:read_invitation: Read organization invitations
            organization:write_invitation: Create organization invitations
            project:read: Read access to projects
            project:write: Write access to projects
            project:write_token: Create write tokens
            project:read_token: Create read tokens
            project:read_dashboard: Read dashboards within a project
            project:write_dashboard: Create or modify dashboards within a project
            project:read_alert: Read alerts within a project
            project:write_alert: Create or modify alerts within a project
            project:read_datasets: Read datasets within a project
            project:write_datasets: Create or modify datasets within a project
            project:read_variables: Read managed variables and prompts within a project
            project:write_variables: Create or modify managed variables and prompts within a project
            project:read_external_variables: Read external managed variables within a project via OFREP
            project:gateway_proxy: Proxy AI model requests through the project AI Gateway
            project:read_otlp: Query trace data submitted to the project via OTLP
            project:write_otlp: Send OTLP traces, logs, and metrics to the project
            project:read_api_key: Read API keys within a project
            project:write_api_key: Create, edit, or revoke API keys within a project
            organization:scim: SCIM access to organizations
            organization:auditlog: Read audit logs for the organization
            organization:payment: Read billing usage data for the organization
            organization:read_trust_policy: Read OIDC trust policies and their token exchange history
            organization:write_trust_policy: Create, modify, or delete OIDC trust policies and revoke issued workload tokens
          authorizationUrl: api/oauth/authorize
          tokenUrl: /api/oauth/token
