openapi: 3.2.0
info:
  title: Pydantic Logfire Organizations API
  summary: Public API to access Logfire resources
  description: 'To be able to use the Logfire API, you need to either create an

    [OAuth App](https://logfire.pydantic.dev/-/redirect/default-org/settings/developer/oauth-apps) or a

    [Personal Access Token](https://logfire.pydantic.dev/-/redirect/default-org/settings/developer/pat).

    '
  termsOfService: https://pydantic.dev/legal/terms-of-service
  version: 0.1.0
servers:
- url: https://logfire-us.pydantic.dev/api
  description: Pydantic Logfire API (US)
- url: https://logfire-eu.pydantic.dev/api
  description: Pydantic Logfire API (EU)
tags:
- name: Organizations
paths:
  /v1/organizations/:
    get:
      tags:
      - Organizations
      summary: List Organizations
      description: 'List all organizations (self-hosted admin only).


        This endpoint is deprecated and has moved to `/api/v1/instance/organizations/`.'
      operationId: list_organizations_v1_organizations__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationReadV1'
                type: array
                title: Response List Organizations V1 Organizations  Get
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
      deprecated: true
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:admin
    post:
      tags:
      - Organizations
      summary: Create Organization
      description: 'Create an organization owned by the token''s user (on-prem only).


        This endpoint is deprecated and has moved to `/api/v1/instance/organizations/`.'
      operationId: create_organization_v1_organizations__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreate'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationReadV1'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:admin
  /v1/organizations/{organization_id}/:
    get:
      tags:
      - Organizations
      summary: Get Organization
      description: Read an organization by id (self-hosted admin only).
      operationId: get_organization_v1_organizations__organization_id___get
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:admin
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Organization Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationReadV1'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - Organizations
      summary: Update Organization
      description: Update an organization (self-hosted admin only).
      operationId: update_organization_v1_organizations__organization_id___put
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:admin
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Organization Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationReadV1'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - Organizations
      summary: Delete Organization
      description: Delete an organization (self-hosted admin only).
      operationId: delete_organization_v1_organizations__organization_id___delete
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:admin
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Organization Id
      responses:
        '204':
          description: Successful Response
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/organizations/{organization_id}/invitations/:
    post:
      tags:
      - Organizations
      summary: Create Self Hosted Organization Invitation
      description: 'Create a single-use organization invitation and return its join URL (self-hosted admin only).


        This endpoint is deprecated. Use `/api/v1/invitations/` with an org-context token instead.'
      operationId: create_self_hosted_organization_invitation_v1_organizations__organization_id__invitations__post
      deprecated: true
      security:
      - OAuth2AuthorizationCodeBearer:
        - organization:admin
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Organization Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationInvitationCreateV1'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvitationCreateResponseV1'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPExceptionError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    OrganizationLink:
      properties:
        url:
          type: string
          title: Url
        icon:
          type: string
          title: Icon
        name:
          type: string
          title: Name
      type: object
      required:
      - url
      - icon
      - name
      title: OrganizationLink
    OrganizationInvitationCreateResponseV1:
      properties:
        invite_url:
          type: string
          title: Invite Url
      type: object
      required:
      - invite_url
      title: OrganizationInvitationCreateResponseV1
    OrganizationUpdate:
      properties:
        organization_name:
          type: string
          maxLength: 50
          minLength: 2
          pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
          title: Organization Name
        billing_email:
          type: string
          title: Billing Email
        organization_display_name:
          type: string
          title: Organization Display Name
        github_handle:
          type: string
          title: Github Handle
        location:
          type: string
          title: Location
        avatar:
          type: string
          title: Avatar
        links:
          items:
            $ref: '#/components/schemas/OrganizationLink'
          type: array
          title: Links
        description:
          type: string
          title: Description
      type: object
      title: OrganizationUpdate
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    SubscriptionPlanId:
      type: string
      enum:
      - personal
      - team
      - growth
      - enterprise_cloud
      - non_stripe
    OrganizationCreate:
      properties:
        organization_name:
          type: string
          maxLength: 50
          minLength: 2
          pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
          title: Organization Name
        organization_display_name:
          type: string
          title: Organization Display Name
        github_handle:
          type: string
          title: Github Handle
        location:
          type: string
          title: Location
        avatar:
          type: string
          title: Avatar
        links:
          items:
            $ref: '#/components/schemas/OrganizationLink'
          type: array
          title: Links
        description:
          type: string
          title: Description
      type: object
      required:
      - organization_name
      title: OrganizationCreate
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    OrganizationInvitationCreateV1:
      properties:
        role:
          type: string
          enum:
          - admin
          - member
          - guest
          - billing
          title: Role
        expiration:
          type: string
          format: date-time
          title: Expiration
      type: object
      required:
      - role
      title: OrganizationInvitationCreateV1
    OrganizationReadV1:
      properties:
        id:
          type: string
          format: uuid
          title: Id
        organization_name:
          type: string
          title: Organization Name
        subscription_plan:
          anyOf:
          - $ref: '#/components/schemas/SubscriptionPlanId'
          - type: 'null'
        has_admin_panel:
          type: boolean
          title: Has Admin Panel
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        billing_email:
          anyOf:
          - type: string
          - type: 'null'
          title: Billing Email
        organization_display_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Organization Display Name
        github_handle:
          anyOf:
          - type: string
          - type: 'null'
          title: Github Handle
        location:
          anyOf:
          - type: string
          - type: 'null'
          title: Location
        avatar:
          anyOf:
          - type: string
          - type: 'null'
          title: Avatar
        links:
          anyOf:
          - items:
              $ref: '#/components/schemas/OrganizationLink'
            type: array
          - type: 'null'
          title: Links
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        spending_cap:
          anyOf:
          - type: integer
          - type: 'null'
          title: Spending Cap
        spending_cap_reached_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Spending Cap Reached At
        planless_grace_period_ends_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Planless Grace Period Ends At
        gateway_enabled:
          type: boolean
          title: Gateway Enabled
        ai_enabled:
          type: boolean
          title: Ai Enabled
        ai_training_enabled:
          type: boolean
          title: Ai Training Enabled
      type: object
      required:
      - id
      - organization_name
      - subscription_plan
      - has_admin_panel
      - created_at
      - updated_at
      - billing_email
      - organization_display_name
      - github_handle
      - location
      - avatar
      - links
      - description
      - spending_cap
      - spending_cap_reached_at
      - planless_grace_period_ends_at
      - gateway_enabled
      - ai_enabled
      - ai_training_enabled
      title: OrganizationReadV1
    HTTPExceptionError:
      properties:
        detail:
          type: string
          title: Detail
      type: object
      required:
      - detail
      title: HTTPExceptionError
  securitySchemes:
    OAuth2AuthorizationCodeBearer:
      type: oauth2
      flows:
        authorizationCode:
          refreshUrl: /api/oauth/token
          scopes:
            instance:admin: Platform admin access to manage the whole self-hosted instance
            instance:billing: Read billing and usage data across the whole self-hosted instance
            organization:admin: Platform admin access to manage organizations across the instance (self-hosted only)
            organization:read: Read access to organizations
            organization:write: Write access to organizations
            organization:create_project: Ability to create projects within the organization
            organization:read_member: Read organization members and roles
            organization:write_member: Modify organization member roles and membership
            organization:read_channel: Read notification channels across the organization
            organization:write_channel: Create or modify notification channels across the organization
            organization:create_api_key: Create new API keys for the organization
            organization:read_api_key: Read API keys across the organization
            organization:write_api_key: Edit or revoke existing API keys across the organization
            organization:read_invitation: Read organization invitations
            organization:write_invitation: Create organization invitations
            project:read: Read access to projects
            project:write: Write access to projects
            project:write_token: Create write tokens
            project:read_token: Create read tokens
            project:read_dashboard: Read dashboards within a project
            project:write_dashboard: Create or modify dashboards within a project
            project:read_alert: Read alerts within a project
            project:write_alert: Create or modify alerts within a project
            project:read_datasets: Read datasets within a project
            project:write_datasets: Create or modify datasets within a project
            project:read_variables: Read managed variables and prompts within a project
            project:write_variables: Create or modify managed variables and prompts within a project
            project:read_external_variables: Read external managed variables within a project via OFREP
            project:gateway_proxy: Proxy AI model requests through the project AI Gateway
            project:read_otlp: Query trace data submitted to the project via OTLP
            project:write_otlp: Send OTLP traces, logs, and metrics to the project
            project:read_api_key: Read API keys within a project
            project:write_api_key: Create, edit, or revoke API keys within a project
            organization:scim: SCIM access to organizations
            organization:auditlog: Read audit logs for the organization
            organization:payment: Read billing usage data for the organization
            organization:read_trust_policy: Read OIDC trust policies and their token exchange history
            organization:write_trust_policy: Create, modify, or delete OIDC trust policies and revoke issued workload tokens
          authorizationUrl: api/oauth/authorize
          tokenUrl: /api/oauth/token
